fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
celery
redis
instagrapi
cryptography
stripe
email-validator
python-dotenv==1.0.0
requests
